<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>
  <form role="form">
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-md-4" >
        <div class="form-group">
          <label >Data</label>
          <input type="text" class="form-control" placeholder="Data Url" ng-model="model.data.url">
        </div>

        <div class="form-group">
          <label >Style Item Id</label>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="model.style" placeholder="Style Url">
            <span class="input-group-btn">
              <button class="btn btn-success" type="button" ng-click="fetchStyle(model)">Fetch!</button>
            </span>
          </div><!-- /input-group -->
          <label for="">Style Json</label>
          <textarea  ng-model="model.styleJson" class="form-control" rows="20"></textarea>
        </div>
        <button class="btn btn-primary" 
                ng-click="updateChart(model)"
                ng-disabled="!canRender()">Render Chart</button>
      </div>
      <div class="col-lg-8">
        <div id="chart-area"></div>
      </div>
      
    </div>

    <div class="row" ng-show="false">
      <div class="col-lg-4">
        <button class="btn green">Save to Online</button>
      </div> 
      <div class="col-lg-4">
        <input placeholder="ago item id" />
      </div> 
      <div class="col-lg-4">
        <button class="btn green">Load from Online</button>
      </div>  
    </div>
  </form>

  <hr>

  <div class="footer">
    <p>With ♥ from <a href="http://dc.esri.com">@EsriDC</a></p>
  </div>
</div>
