<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>
  <form role="form">
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-md-4" >
        <div class="form-group">
          <h3 >Chart Data <small>Url to Feature Layer</small></h3>
          <input type="text" class="form-control" placeholder="Data Url" ng-model="model.data.url">
        </div>

        <div class="form-group">
          <h3>Chart Style <small>(name, url, or ago id)</small></h3>
          <input type="text" class="form-control" ng-model="model.style" placeholder="Style Url">
        </div>

        <div class="form-group">
          <button class="btn btn-success btn-block" type="button" ng-click="setupEditor(model)">Setup Editor</button>
        </div>

        <tabset>
          <tab heading="Editor">
            <div class="form-group">
              <div ng-repeat="input in model.data.inputs">
                <div ng-if="input.type[0] !== 'option'">
                  <label>{{input.name}} <small>{{input.type.join(',')}} </small></label>
                  <select class="form-control" ng-model="model.params[input.name]" ng-options="field.name for field in model.data.fields" ></select>
                </div>
                <div ng-if="input.type[0] === 'option'">
                  <label>{{input.name}} <small>{{input.type.join(',')}} </small></label>
                  <select class="form-control" ng-model="model.params[input.name]" >
                    <option id="sum">sum</option>
                    <option id="avg">avg</option>
                  </select>
                </div>
              </div>
            </div>
          </tab>

          <tab heading="Style Json">
            <div class="form-group" >
              <label for="">Style Json</label>
              <textarea  ng-model="model.styleJson" class="form-control" rows="20"></textarea>
            </div>
          </tab>
        </tabset>

        <button class="btn btn-primary  btn-block" 
                ng-click="updateChart(model)"
                ng-disabled="!canRender()">Render Chart</button>
      </div>
      <div class="col-lg-8">
        <tabset>
          <tab heading="Viewer">
            <div id="chart-area"></div>
          </tab>
          <tab heading="Instructions">
            <br>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">DC School Scatter Plot</h3>
                </div>
                <div class="panel-body">
                  <ul>
                    <li>set the chart style to "scatter"</li>
                    <li>data: http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5/</li>
                    <li>Press Setup Editor button</li>
                    <li>x: POPULATION_ENROLLED_2008</li>
                    <li>y: CAPACITY</li>
                    <li>color: FACUSE</li>
                    <li>Press Render Chart</li>
                  </ul>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">DC School Bar Chart</h3>
                </div>
                <div class="panel-body">
                  <ul>
                    <li>set the chart style to "bar"</li>
                    <li>data: http://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Education_WebMercator/MapServer/5/</li>
                    <li>Press Setup Editor button</li>
                    <li>count: POPULATION_ENROLLED_2008</li>
                    <li>group: LEVEL_</li>
                    <li>Press Render Chart</li>
                  </ul>
                </div>
              </div>
          </tab>
        </tabset>
      </div>
      
    </div>

    <div class="row" ng-hide="true">
      <div class="col-lg-4">
        <button class="btn green">Save to Online</button>
      </div> 
      <div class="col-lg-4">
        <input placeholder="ago item id" />
      </div> 
      <div class="col-lg-4">
        <button class="btn green">Load from Online</button>
      </div>  
    </div>
  </form>

  <hr>

  <div class="footer">
    <p>With ♥ from <a href="http://dc.esri.com">@EsriDC</a></p>
  </div>
</div>
